body{
   width:100%;
   height:120%;
   margin: 0 auto;
}

.menu-inicial{
    width:100%;
    height:63px;
    background-color: #0c3c60;
}

.home-contexto{
    width:100%;
    position: relative;
    top: 0;
    bottom: 0;
}

.home-contexto ul li{
    margin-left: 15px;
    display: inline-block;
}

.home-contexto ul li a{
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 15px;
    display: inline-block;
    text-align: center;
    text-indent: 0;
    margin: 0.5em;
    padding: 0.5em;
}

.imagem-escala{
    width:100%;
    height:300px;
}

main{
    margin: 0 auto;
    width:980px;
    position:relative;
}

.logo{
    padding-top: 10px;
    float:left;
    width:70%;
}

.pagina-topo{
    height: 52px;
    position: relative;
    width:980px;
    margin: 0 auto;
    border-bottom: 3px solid #efefef;
    opacity: 0.1;
    background-color: #ffffff;
}

.menu ul li{
    margin-left: 15px;
    display: inline-block;
    color: #8b8b8b;
}

.menu ul li a img{
    height:70%;
    text-decoration: none;
    text-transform: uppercase;
    color: #8b8b8b;
}

.menu{
    width:70%;
    float:left;
}

.icons-menu{
    height: 20px;
    float:right;
    position: absolute;
}

.busca{
    float:left;
}

.busca ul li{
    margin-left: 15px;
    display: inline-block;
    color:  #8b8b8b;
}

.busca ul li a{
    text-decoration: none;
    float:right;
}

.col-100{
    height: 52px;
    margin: 0 auto;
    width:100%;
    float:left;
    position:relative;
}