body{
   width:100%;
   height:120%;
   margin: 0 auto;
}

.container-fluid {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.menu-inicial{
    width:100%;
    height:63px;
    background-color: #0c3c60;
}

.home-contexto{
    width:100%;
    position: relative;
    top: 0;
    bottom: 0;
}

.home-contexto img:hover{

}

.home-contexto ul{
    margin-bottom: 0;
}

.home-contexto ul li{
    display: inline-block;
}

.home-contexto ul li a{
    text-decoration: none;
    height: 200px;
    display: inline-block
}

.logo{
    padding-top: 10px;
    padding-left: 10px;
    float:left;
    width:70%;
}

main .row .col-sm-8{
    border-bottom: 3px solid #efefef;
    opacity:1;
    background-color: #ffffff;
    transition: transform .15s linear, filter .15s linear;
}

main .row .col-sm-8:hover{
    border-bottom: 3px solid #efefef;
    opacity: 1;
    background-color: #ffffff;
}

/*<!--.menu ul li{
    display: inline-block;
    color: #8b8b8b;
}*/ 

.col-sm-8 .menu a img{
    height:100%;
    color: #8b8b8b;
}

.menu{
    height: 100%;
    width:100%;
    float:left;
}

.icons-menu{
    height: 20px;
    float:right;
    position: absolute;
}

.busca{
    margin-left: 15px;
    width: 100%;
    height: 100%;
    float: right;
}

.busca a img{
    height: 50%;
    width: 30%;
}